$body-ff: "Open Sans", sans-serif;
$heading-ff: "Poppins", sans-serif;

$dark-green-color: #00252e;
$silver-color: #808e9a;
$pink-color: #ff52c1;
$light-pink-color: #ff9adb;
$sky-blue-color: #edfbff;
$white-color: #ffffff;
.container {
  width: 100%;
  max-width: 1382px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
}
